<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Jobs</title>
</head>
<body>
    <h2>Job Listings currently...</h2><br><br>
    {% for job in jobs %}
    <h3>Job Title: {{ job.job_title }}</h3>
    <p>Company: {{ job.company_name }}</p>
    <p>Description: {{ job.job_description }}</p>
    <p>Location: {{ job.location }}</p>
    <p>Salary: ${{ job.salary }}</p>
    <hr>
    {% endfor %}
    <br><br>
    <form action="{{ url_for('admin_dashboard', uname=uname) }}" method="GET">
        <button type="submit">Back to Admin Dashboard</button>
    </form>
</body>
</html>