<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Jobs</title>
</head>
<body>
    <h2>Job Listings currently...</h2><br><br>

    {% if jobs %}
        {% for job in jobs %}
            <h3>Job Title: {{ job.job_title }}</h3>
            <p>Company: {{ job.job_company }}</p>
            <p>Description: {{ job.job_description }}</p>
            <p>Location: {{ job.job_location }}</p>
            <p>Salary: ${{ job.job_salary }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No job listings available.</p>
    {% endif %}
    <br><br>
    <form action="{{ url_for('admin_dashboard', uname=uname) }}" method="GET">
        <button type="submit">Back to Admin Dashboard</button>
    </form>
</body>
</html>