<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add your CSS links here -->
</head>

<body>
    <header>
        <h1>Admin Dashboard</h1>
        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </header>
    <main>
        <h2>Welcome, {{ uname }}</h2>
        <p>This is the admin dashboard where you can manage the platform.</p>
        <!-- Add more admin functionalities here -->
        <p>Total Jobs: {{ stats.jobs }}</p>
        <p>Pending: {{ stats.pending }}</p>
        <p>Selected: {{ stats.selected }}</p>
        <p>Rejected: {{ stats.rejected }}</p>

        <ul>
            <br><br>
            <li>
                <form action="{{ url_for('applicant_info',uname=uname) }}" method="GET">
                    <button type="submit">User Information</button>
                </form>
            </li>
            <br><br>
            <li>
                <form action="{{ url_for('select_applicants',uname=uname) }}" method="GET">
                    <button type="submit">Applicant Selection</button>
                </form>
            </li>
            <br><br>
            <li>
                <form action="{{ url_for('joblistings',uname=uname) }}" method="GET">
                    <button type="submit">Job Listings</button>
                </form>
            </li>
            <br><br>
            <li>
                <form action="{{ url_for('selected_app',uname=uname) }}" method="GET">
                    <button type="submit">View selected resumes</button>
                </form>
            </li>
            <br><br>
            <li>
                <form action="{{ url_for('add_jobs',uname=uname) }}" method="GET">
                    <button type="submit">Add/Update Jobs</button>
                </form>
            </li>
            <br><br>
        </ul>
    </main>
    <footer>
        <p>&copy; 2025 AJYNT JOB RECRUITERS</p>
    </footer>
</body>

</html>