<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ role }} registeration page</title>
</head>
<body>
<div>
    {% if role.upper() == "USER" %}
        <h2>USER REGISTRATION</h2>
        <input type="hidden" name=role value="user">
        <form action="{{url_for('check_register',role=role)}}" method="POST">
            <label>USERNAME: </label>
            <input type="text" name="username">
            <br><br>
            <label>PASSWORD:</label>
            <input type="password" name="password">
            <br><br>
            <button type = "submit "> SUBMIT HERE</button>
        </form>
    {% endif %}
    {% if role.upper() == "ADMIN" %}
        <h2>ADMIN REGISTRATION</h2>
        <form action="{{url_for('check_register',role=role)}}" method="POST">
            <input type="hidden" name=role value="admin">
            <label>ADMINNAME: </label>
            <input type="text" name="username">
            <br><br>
            <label>PASSWORD:</label>
            <input type="password" name="password">
            <br><br>
            <button type = "submit "> SUBMIT HERE</button>
        </form>
    {% endif %}
    <form action="{{url_for('admin_login')}}" method="GET">
        <button type = "submit "> ALREADY REGISTERED? LOGIN HERE</button>
    </form>
</div>
</body>
</html>